body {
  background-color: black;
}

h1.name {
  color: white;
  text-transform: lowercase;
  letter-spacing: 4px;
  font-size: 4.3rem;
}

.name-box{
  margin-left: 22%;
}

.photo-box {
  height: 80px;
  width: 80px;
  float: left;
}

.lake-photo {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
}

div.row .col-2 {
  height: 30px;
}
