body {
  background-image: url('https://i.imgur.com/1DD1zJi.jpg');
  background-size:cover;
}

h1, h2 {
    font-family: 'Mitr', sans-serif;
}

dd, li, p {
  font-weight: 600;
}

/*headline and name style*/

h1.name {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -15.9px;
  font-size: 4.3rem;
  margin-bottom: -.5%;
  margin-right: 1%;
}

h1.name .firstname {
    text-transform: lowercase;
}

h1.name .firstname .l {
  color: #428cf4;
}

h1.name .firstname .a {
  color: #4177f4;
}

h1.name .firstname .k {
  color: #4161f4;
}

h1.name .firstname .e {
  color: #4146f4;
}

/* This controls the last name css hover effect */

h1.name .lastname .b:hover, h1.name .lastname .t:hover {
  color: #4178f4;
}

h1.name .lastname .r:hover, h1.name .lastname .e:hover {
  color:#4199f4;
}

h1.name .lastname .a:hover, h1.name .lastname .l:hover {
  color:#41b2f4;
}

h1.name .lastname .m:hover {
  color: #41dbf4;
}

/* end */

.name-underline {
  height: 30px;
  width: 50%;
  margin-left: 25%;
  border-radius: 0px 35px;
  background-color: #2dc8d8;
  margin-bottom: 2.5%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #6c6cff;
  border-radius: 35px 0px;
}


.icon-container img {
  float: left;
}

.icon-container img:nth-child(7) {
  padding-top: 5%;
}

img.my-face {
  width: 50%;
  float: left;
  margin-right: 12px;
  border-radius: 25px 0px;
}

img.icon {
  width: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

dt {
  background-color: #4146f4;
  border-radius: 0px 35px;
  padding: 10px 10px 10px 22px;

}

dt a {
  color: #ffffff;
  text-transform: lowercase;
}

dt a:hover {
  color: #000000;
  text-transform: uppercase;
}

dd {
  padding: 0px 15px;
}

.divider {
  width: 40%;
  margin: 10px 0px;
  border-bottom: 1px solid grey;
}

.socials {
  text-align: center;
}

ol li {
  margin-bottom: 2%;
}


/*Media queries*/

@media screen and (max-width: 991px) {
  h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1rem;
  }

  ol, ul {
    padding-inline-start: 0px;
  }

  p, dd, li {
    font-size: 12px;
  }
}

@media screen and (max-width 509px) {
  .icon-container img {
    margin-right: 2px;
  }
}
